/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --text-color: #F1B2CE;
  --bg-color: #000028;
  --accent-color: #FF0070;

  .header {
    background: url(../images/cover-image-dark.png) no-repeat;
  }
}
